body {
  font-family: "Luxurious Roman", cursive;
}
h1 {
  font-size: 50px;
}
.color-change {
  color: salmon;
}
section {
  display: flex;
}
.half-size {
  width: 50%;
  padding-left: 10%;
  margin-top: 50px;
}
.half-size img {
  width: 50%;
}
.edit {
  text-decoration: none;
  background-image: linear-gradient(orange, salmon);
  color: white;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 5px;
}
.change {
  text-align: center;
  padding-left: 10%;
}
.my-mission {
  display: flex;
}
.again-half-size {
  text-align: center;
  padding-left: 20%;
}
.img-edit {
  width: auto;
  height: 5.5em;
  vertical-align: top;
}
.bg-color {
  background-color: rgb(195, 221, 231);
  border-radius: 10px;
  width: 300px;
}
.bg-color1 {
  background-color: thistle;
  border-radius: 10px;
  width: 300px;
}
.bg-color2 {
  background-color: wheat;
  border-radius: 10px;
  width: 300px;
}
.develop {
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 300px;
}
